body {
    --red: #EF4444;
    --orange: #F97316;
    --yellow: #eab308;
    --green: #22C55E;
    --blue: #3B82F6;
    --violet: #8B5CF6;
    --pink: #EC4899;

    --light-cloud: #fea798;
    --light-sky-top: #fea798;
    --light-sky-bottom: #be91c6;
    --light-water-top: #fea798;
    --light-water-bottom: #8a65cc;

    --dark-cloud: #1e3a8a;
    --dark-sky-top: #18181b;
    --dark-sky-bottom: #0f1d43;
    --dark-water-top: #1e346f;
    --dark-water-bottom: #091126;

    --nav-height: 4rem;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

    --text: black;
    --card: rgba(212, 212, 216, 0.5);

    --cloud: #fea798;
    
    --grass: #ff846e;
    --grass1: #fea798;

    --plantsFG: #3b1895;
    --plantsBG: #5e30d9;
    --lotus: #3730a3;

    --water-scroll: 0;
    --sky-scroll: -150vh;
    --light-rotation: 0deg;
}

body.dark {
    --text: white;
    --card: rgba(82, 82, 91, 0.5);

    --cloud: #1e3a8a;
    
    --grass: #192e66;
    --grass1: #0f1d43;

    --plantsFG: #192e66;
    --plantsBG: #1e3a8a;
    --lotus: #1e3a8a;

    --water-scroll: -150vh;
    --sky-scroll: 0;
    --light-rotation: 180deg;

}


*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.landscape:after,
.landscape:before,
.landscape *,
.landscape *:after,
.landscape *:before {
    position: absolute;
}

.front {
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s ease-in-out;
}

.landscape {
    height: 100vh;
    position: relative;
    z-index: -999;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.lotus {
    width: 10vmin;
    height: 5vmin;
    background: conic-gradient(var(--lotus) 0deg 50deg,
            transparent 50deg 70deg,
            var(--lotus) 70deg);
    border-radius: 50%;
    transition: 1s ease-in-out;
}

.lotus-1 {
    bottom: 10vmin;
    right: 5vmin;
    width: 20vmin;
}

.lotus-2 {
    bottom: 20vmin;
    right: 15vmin;
    height: 3vmin;
    transform: skew(-10deg);
    opacity: 0.5;
    mix-blend-mode: multiply;
}

.lotus-3 {
    bottom: 10vmin;
    right: 35vmin;
    transform: rotate(180deg) skew(-20deg);
    opacity: 0.8;
    width: 15vmin;
}

.cloud {
    width: 80vmin;
    height: 6vmin;
    background: currentcolor;
    color: var(--cloud);
    top: 24vmin;
    left: 20vmin;
    border-radius: 50%;
    box-shadow: 30vmin 0.5vmin 0 -1vmin currentcolor,
        -25vmin 0 0 -0.6vmin currentcolor;
    opacity: 0.3;
    transform: translate3d(-150vmin, 0, 0);
    animation: clouds 120s infinite;
    animation-delay: -10s;
    transition: 1s ease-in-out;
}

@keyframes clouds {
    50% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(150vmin, 0, 0);
    }
}

.cloud-1 {
    left: 60vmin;
    top: 15vmin;
    opacity: 0.2;
    filter: blur(1px);
    animation-delay: 0;
    animation-duration: 100s;
}


/*
Hintergrund gemäß gewählte Theme anpassen:
Da sich die Veränderung eines Farbverlaufs nicht mittels Transition verlangsamen lässt, musste eine andere Methode gewählt werden:
Der Hintergrund besteht aus einem sehr langen Farbband, das den Farbverlauf des Dark- und Lightthemes enthält. 
Wenn nun das Theme gewechselt wird, wird an die entsprechende Stelle auf dem Farbband "gescrollt".
*/

.sky {
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    overflow: hidden;

    #bg {
        position: absolute;
        top: var(--sky-scroll);
        height: 200vh;
        width: 100%;
        background: linear-gradient(var(--dark-sky-top), var(--dark-sky-bottom), var(--light-sky-top), var(--light-sky-bottom));
        transition: 1s ease-in-out;
    }

    #light {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50vh;
        width: 50vh;
        transform: translate(-50%) rotate(var(--light-rotation));
        transition: 1s ease-in-out;

        .sun {
            position: absolute;
            top: 0;
            left: 50%;
            background: white;
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            box-shadow: 0 0 10px white;
            transition: 1s ease-in-out;
        }

        .moon {
            position: absolute;
            bottom: 0;
            left: 50%;
            background: white;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            box-shadow: 0 0 10px white;
            transition: 1s ease-in-out;
        }
    }

}

.water {
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    box-shadow: inset 0 1px 4px -3px white;

    #bg {
        position: absolute;
        top: var(--water-scroll);
        height: 200vh;
        width: 100%;
        background: linear-gradient(var(--light-water-top), var(--light-water-bottom), var(--dark-water-top) 66%, var(--dark-water-bottom));
        transition: 1s ease-in-out;
    }
}

.stone {
    bottom: -5vh;
    left: 0;
    height: 20vmin;
    width: 40vmin;
    background: var(--plantsFG);
    box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.2);
    border-radius: 0% 200% 0 0/0% 200%;
    transition: 1s ease-in-out;
}

.stone:after {
    content: "";
    background: var(--plantsBG);
    width: 100%;
    height: 100%;
    right: -15%;
    border-radius: inherit;
    z-index: -1;
    transform: scaleX(1.3) skew(10deg);
    box-shadow: inset 0 0 20px -5px rgba(0, 0, 0, 0.4);
    transition: 1s ease-in-out;
}

.grass {
    height: 40vmin;
    width: 10vmin;
    border-radius: 0 60% 0 0/0 100% 0 0;
    bottom: 0;
    border-right: 5px solid var(--plantsFG);
    box-shadow: 1px 0 0 var(--grass1);
    filter: drop-shadow(-0.5vmin 6vmin 0 var(--grass)) drop-shadow(-4.5vmin 10vmin 0 var(--plantsBG));
    transition: 1s ease-in-out;
}

.grass-1 {
    left: 14vmin;
    bottom: -2vmin;
    transform: scaleX(-1);
    box-shadow: 2px 0 0 var(--plantsFG);
    border-color: var(--plantsBG);
    filter: drop-shadow(-1vmin 5vmin 0 var(--plantsBG)) drop-shadow(-80vmin 5vmin 0 var(--plantsFG));
}

.grass-2 {
    right: 0;
    left: auto;
    height: 20vmin;
    bottom: -2vmin;
    transform: scaleX(-1);
}



.reed {
    height: 40vmin;
    width: 0.5vmin;
    bottom: 0;
    left: 10vmin;
    color: var(--plantsFG);
    background: currentColor;
    transform-origin: bottom center;
    transform: rotate(4deg);
    box-shadow: inset -1px 0 0 var(--grass), -6vmin 3vmin 0 0, 80vmin 0 0 0;
    animation: verticalise 20s infinite;
    transition: 1s ease-in-out;
}

.reed-1 {
    color: var(--grass);
    left: 15vmin;
    height: 50vmin;
    bottom: -5vmin;
    transform: rotate(-2deg);
    animation: verticalise-1 20s infinite;
    box-shadow: inset -1px 0 0 var(--grass1), 6vmin 13vmin 0 0 var(--grass1),
        80vmin 10vmin 0 0 var(--plantsBG);
}

.reed:after {
    content: "";
    width: 1.5vmin;
    height: 10vmin;
    background: currentcolor;
    border-radius: 0.75vmin;
    top: 0;
    left: -0.5vmin;
    box-shadow: inherit;
}

@keyframes verticalise {

    0%,
    10% {
        transform: rotate(4deg);
    }

    30%,
    70% {
        transform: rotate(0);
    }
}

@keyframes verticalise-1 {

    0%,
    10% {
        transform: rotate(-2deg);
    }

    45%,
    70% {
        transform: rotate(0) translateY(-6vmin);
    }
}



.splash {
    width: 8vmin;
    height: 3vmin;
    opacity: 0.1;
    border: 2px solid white;
    box-shadow: 0 0 2px white;
    border-radius: 50%;
    bottom: 5vmin;
    left: 70%;
    animation: splash 9s infinite;
    transform: scale(0);
}

.splash-stone {
    bottom: 15vh;
    left: -3vmin;
    height: 10vmin;
    width: 30vmin;
}

.splash-4 {
    bottom: 5vmin;
    left: auto;
    bottom: 15vmin;
    right: -2vmin;
}

@keyframes splash {

    50%,
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.delay-1 {
    animation-delay: 1s;
}

.delay-2 {
    animation-delay: 2s;
}

.delay-3 {
    animation-delay: 3s;
}

.delay-4 {
    animation-delay: 4s;
}

.delay-5 {
    animation-delay: 5s;
}

.delay-6 {
    animation-delay: 6s;
}


section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    header {
        width: 100%;
        height: var(--nav-height);
        padding: 1rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        backdrop-filter: blur(4px);
        background-color: var(--card);
        color: var(--text);
        transition: 1s ease-in-out;

        button {
            height: 2rem;
            width: 2rem;
            padding: 0.25rem;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: transparent;
            border: 2px solid var(--yellow);
            border-radius: 0.25rem;

            cursor: pointer;


            color: white;
            font-size: large;
        }
    }

    main {
        padding: 5rem;
        color: var(--text);
        transition: 1s ease-in-out;

        #dashboard {

            margin-top: 1rem;
            gap: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            /*
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            */



            list-style: none;

            li {
                padding: 1rem;

                border-radius: 0.25rem;
                backdrop-filter: blur(5px);
                background-color: var(--card);
                color: var(--text);
                transition: 1s ease-in-out;
            }
        }
    }
}